version: "3.8"

services:
  unit-tests:
    image: jonnyrembo/async-tcp-udp-server:latest
    container_name: async-unit-tests
    command: make unit-test
    volumes:
      - .:/workspace
    working_dir: /workspace

  functional-tests:
    image: jonnyrembo/async-tcp-udp-server:latest
    container_name: async-functional-tests
    command: make functional-test
    volumes:
      - .:/workspace
    working_dir: /workspace
    network_mode: host
    depends_on:
      - unit-tests

  systemd-tests:
    image: jonnyrembo/async-tcp-udp-server:latest
    container_name: async-systemd-tests
    command: >
      bash -c "
        echo '=== Systemd Test ===' &&
        ls -la /etc/systemd/system/async-server.service &&
        echo '---' &&
        cat /etc/systemd/system/async-server.service &&
        echo '---' &&
        ls -la /usr/bin/async_tcp_udp_server &&
        echo '---' &&
        id async-server &&
        echo '---' &&
        /usr/bin/async_tcp_udp_server 8081 &
        SERVER_PID=$$! &&
        sleep 3 &&
        echo 'Testing TCP...' &&
        echo '/time' | timeout 2 nc -N localhost 8081 || echo 'TCP test failed' &&
        echo 'Testing UDP...' &&
        echo '/time' | timeout 2 nc -u localhost 8081 || echo 'UDP test failed' &&
        echo '/shutdown' | timeout 2 nc -N localhost 8081 || true &&
        wait $$SERVER_PID
      "
    volumes:
      - .:/workspace
    working_dir: /workspace
    network_mode: host
    depends_on:
      - functional-tests