name: Async TCP/UDP Server CI

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Pull Docker image
        run: |
          docker pull jonnyrembo/async-tcp-udp-server:latest

      - name: Run all tests with docker-compose
        run: |
          docker-compose up --abort-on-container-exit

      - name: Cleanup
        run: |
          docker-compose down